* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.weather-info {
    display: grid;
    background: #f6f6f6;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

.high-low {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}